# Rename this to `.env` and remove this line.
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
SENTRY_ENVIRONMENT=
SENTRY_DSN=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
DEFAULT_FROM_EMAIL=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=
ADMIN_URL=
USE_S3=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_CUSTOM_DOMAIN=
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
GUNICORN_WORKERS=
WEBSITE_PORT=